/* styles for category */

.animated-border {
  position: relative;
  display: inline-block;
  color: indigo;
  text-decoration: none;
}

.animated-border::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: indigo;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.animated-border:hover::after {
  width: 100%;
  left: 0;
  background: indigo;
}

.animated-border:hover {
  color: indigo; /* Keep the text color same when hovering */
}



/* styles for countdown timer */

.countdown {
  display: inline-block;
  background-color: #e3e5e6;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


